<%- include('../../partials/head.ejs' ) %>

<div class=" container my-container my-5">
      <h2 class="text-center fs-1">Welcome to your dashboard</h2>
</div>
<%- include('../../partials/fotter.ejs')%>
</body>
</html>

